
Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
MonkeyCrossing/Form1.Designer.vb
MonkeyCrossing/Form1.resx
MonkeyCrossing/Form1.vb
MonkeyCrossing/MonkeyCrossing.vbproj
MonkeyCrossing/My Project/Application.Designer.vb
MonkeyCrossing/My Project/Application.myapp
MonkeyCrossing/My Project/AssemblyInfo.vb
MonkeyCrossing/My Project/Resources.Designer.vb
MonkeyCrossing/My Project/Resources.resx
MonkeyCrossing/My Project/Settings.Designer.vb
MonkeyCrossing/My Project/Settings.settings
